@charset "utf-8";
/* CSS Document */

body {
	/*background-color:#FFF8CD;*/
	background-image:radial-gradient(circle,#ffffff, #FFF8CD);
	margin:0;
	padding:0;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

#centro{
	background-color:#FFF;
	width:478px;
	margin-left:220px;
}


	
#container{
	width: 72%;
	min-width:980px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
		
.Inicio {
	width:100%;
	height:40px;
}
	
a{
	text-decoration: none;
	color:#FFFFFF;
	font-size:16px;
	border:0;
}

#bienvenido{
	position:relative;
	text-align:right;
	float:right;
	top:-40px;
	padding-right:10px;
}
		
.header{
	height: 87px;
	margin-bottom: 7px;
	padding-bottom: 4px;
	position: relative;
	z-index: 99;
}

#logo{
	float:left;
}
	
#carrito{
	position: absolute;
	top: 0px;
	right: 315px;
	z-index: 9;
	min-width: 300px;
}


#botonbusqueda{
	position: absolute;
	left: 0px;
	width: 28px;
	height: 24px;
	border-right: 1px solid #000;
	/*cursor: pointer;*/
	background: url('../imagenes/button-search.png') no-repeat scroll center center transparent;
}

#busqueda{
	position: absolute;
	top: 15px;
	right: 0px;
	width: 298px;
	z-index: 15;
}
	
#busqueda input {
    color: #fff;
	background: #333;
	padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #000;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-khtml-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;	
}

#menuprincipal{
	background: url('../imagenes/menu.png') repeat-x scroll 0% 0% transparent;
	height: 40px;
	padding-left: 10px;
}
	
.menu{
    list-style:none;
	padding:0px;
	margin:0px;
}

.menu li{
	margin:0px;
	padding:0px;
	float:left;
	position:relative;
		
}

.menu li a{
	width: 100px;
	height: 30px;
	padding: 12px;
	line-height:30px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	
	position: relative;
	
 
}

.menu li a:hover{
	color:#CF3;
}

.menu ul{
    position:absolute;
	left:5px;
	top:31px;
	margin:0px;
	list-style:none;
	padding:0px;
	/*opacity:0;*/
	display:none;
	/*transition:opacity .35s ease .2s;
	-webkit-transition:opacity .35s ease .2s;
	-moz-transition:opacity .60s ease .10s;
	-o-transition:opacity .35s ease .2s;*/
    background: url('../imagenes/menu.png');	
}
.menu ul li a{
	
	
	text-align:left;
}



.menu li:hover ul{
    /*opacity:1;*/
	visibility:visible;
  display:block;
  transition:12s;
	
}

#categoria{
	text-align:center;
	/*border: 1px solid #00F;*/
	/*background-color:#FFF;*/
	background-color:#749d2b;
	float:left;
	margin-top:-380px;
	opacity:0.8;
	border-radius: 15px;
}
	
#tituloCategoria{
	text-align:center;
	background: url('../imagenes/menu.png');
	color:#000;
	border-radius: 15px;
	}
	
#contenidocategoria{
	text-align:left;


}
		
#contenido ul a{
	text-align:center;
	margin: 0 auto, 0 auto;
list-style: none outside none;
text-decoration: none;
color:#FFF;
}

#contenido ul {
	padding-right:30px;
	
	}
#contenido li:hover{
	background-color:#390;
}			
#contenido li{
	list-style: none outside none;
	text-decoration: none;
}

#cuenta{
	 background-color:#749d2b;
	float:right;
	margin-top:-380px;
	opacity:0.8;
	border-radius: 15px;
}

#tituloCuenta{
	text-align:center;
	background: url('../imagenes/menu.png');
	color:#000;
	border-radius: 15px;
}
	
#contenidocuenta{
	text-align:center;

}
		
#contenidos ul a{
	list-style: none outside none;
	text-decoration: none;
	color:#FFF;
}

#contenidos ul{
	text-align:center;
	padding-right:30px;
}	
		
#contenidos li{
	list-style: none outside none;
	text-decoration: none;
}

#contenidos li:hover{
	background-color:#390;
}

#footer {
    clear: both;
    overflow: auto;
    min-height: 118px;
    padding-left: 15%;
    border: 1px solid #FFF;
	/* background: url('../imagenes/footer.jpg') no-repeat scroll center top transparent;*/
	/*background-image: -moz-linear-gradient(left top, #999, #fff);*/
	background: url('../imagenes/menu.png') no-repeat;
	background-size: 100% 100%;
	border-radius: 15px;
}

#footer .column {
    float: left;
    width: 200px;
	height: 116px;
	margin: 0 30px;
    /*min-height: 100px;*/
    /*border-right: 1px solid #AAA;*/
    /*margin-left: 3px;*/
}

.column ul {
	padding-left:10px;
}

.column ul li{
	list-style:none;
}

#datos input[type:text]{
	text-align:left;
	}
	
.form{
	width:700px;
border: 1px solid #EEE
	}
table.tabla1{

border-collapse: collapse;
margin-bottom: 20px;
	}
	
.boton{
			width:700px;
border: 1px solid #EEE
		}
		
span{
	color:#F00;
	}
			
			
#carrito{
	margin-top:50px;			
		}
		
div.derecha{
	margin-top:-110px;
	width:200px;
	text-align:center;
	float:right;
	margin-right:550px;
	/*margin-left:120px;
	margin-bottom:10px;*/
	
}

.productos{
	/*background-color:#fff;*/
	float:left;
	min-width: 810px;
	width:82%;
}

.lista_productos{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	list-style:none;
	border-spacing:20px;
}

.producto{
	width:180px;
	height:250px;
	background-color:#C3EC99;
	padding:20px;
	border-radius:15px;
	border:solid;
	border-color:#78A71A;
	float:left;
	margin: 15px;
}

.detalles_producto{
	margin: 0 20%;
	margin-top:20px;
	background-color:#CBFFAE;
	padding:20px;
	border-radius:15px;
	width: 550px;
	border:solid;
	border-color:#78A71A;
}

.detalles_producto #detalles{
	display:inline-block;
	position:relative;
	padding-left:100px;
	bottom: 70px;
}

.imagen{
	height: 70%;
}

.descripcion{
	height: 30%;
}
		
.agregar{
background-image:url(../imagenes/menu.png);
color:#FFF;
}
			
.detalles {
				
color:#749d2b;}
				
.tabla {
	
	border-radius: 15px;
	border-spacing:0;
	border:solid;
	border-color:#6C9328;
}

	
.tabla td{
	font-size:18px;
	padding:10px;
}

.tabla th {
	font-size:20px;
	padding:10px;
	background: url('../imagenes/menu.png') no-repeat;
	background-size: 100% 100%;
}

th.primero{
	border-top-left-radius:11px;
}

th.ultimo{
	border-top-right-radius:11px;
}

.tabla a {
	color:#000000;
	text-decoration:underline;
	font-size:20px;
}
	
	#cuenta2{
	 background-color:#749d2b;
	 position:static;
	 opacity:0.8;
	float:right;
	margin-top:-366px;
	}
	
	label{
	display: block;	
	color: #000;
}

/*#tablaCarrito{
	width: 500px;
	border: 0;
}
*/
#img_eliminar{
	width: 25px;
}

div.derecha2{
	margin-top:-150px;
		width:200px;
		text-align:center;
		float:right;
		margin-right:550px;
		/*margin-left:120px;
		margin-bottom:10px;*/
		
	}
	
/*	#tablaCarrito2{
	width: 500px;
	border: 0;
	text-align:center;
}*/

#content {
	min-height:200px;
	margin-bottom:40px;
}

#powered{
	position:relative;
	top: 20px;
}

.panelDerecha {
	float:right;
	position:relative;
	margin-right:50px;
}

.panelIzquierda {
	float:left;
	margin-right:35px;
	margin-top:10px;
	position:relative;
	top:80px;
	background: url('../imagenes/menu.png') no-repeat;
	background-size: 100% 100%;
	border-radius:15px;
}

.panelIzquierda ul{
	list-style:none;
	padding: 18px 12px;
	margin:0;
}

.panelIzquierda ul li{
	padding:5px 10px;
}

.panelIzquierda a:hover{
	color:#CF3;
}

.detalles_producto2{
	margin: 0 20%;
	margin-top:20px;
	background-color:#CBFFAE;
	padding:20px;
	border-radius:15px;
	width: 550px;
	border:solid;
	border-color:#78A71A;
}

.detalles_producto2 #detalles2{
	display:inline-block;
	position:relative;
	padding-left:100px;
	bottom: 70px;
}

#detalles3{
	
	color:#CC6;
	background-color:#00F;
	}